*{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}

.wrap{
    width: 100%;
    height: 100vh;
    display: flex;
}
.wrap aside{
    width: 300px;
    height: 100%;
    background-color: aquamarine;
}
aside .logo{
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 12px;
}
.logo h2{
    text-transform: uppercase;
}
aside ul{
    width: 100%;
}
aside li{
    width: 100%;
    line-height: 40px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}
aside li:hover{
    background-color: rgb(202, 255, 237);
}
aside .on{
    background-color: rgb(202, 255, 237);
}

.wrap main{
    width: calc(100% - 300px);
    background-color: white;
}
.wrap .page{
    display: none;
}
.wrap .home{
    display: block;
}
main .home{
    width: 90%;
    height: 100%;
    margin: auto;
    /* background-color: aqua; */
}
.home section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 12px 0;
}
.home .summary{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}
.summary li{
    width: calc((100% - 120px) / 3);
    height: calc(100vh - 648px);
    background-color: white;
    border-radius: 8px;
    position: relative;
    box-shadow: 0 1px 3px gray;
    /* overflow-y: hidden; */
}
.summary h2{
    margin-top: 8px;
    margin-left: 12px;
}
.summary .more{
    position: absolute;
    top: 16px;
    right: 24px;
    font-size: 12px;
    color: gray;
    cursor: pointer;
}
.summary dl{
    width: 90%;
    margin: auto;
    margin-top: 16px;
}
.summary dt, .summary dd{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 40px;
}
.summary dt{
    font-weight: bold;
    border-bottom: 1px solid gray;
}
.summary dd{
    cursor: pointer;
}
.summary dd:nth-child(2n-1){
    background-color: rgb(240,240,240);
}
.summary p{
    text-align: center;
}
.summary li:nth-child(1) p:nth-child(1){
    width: 50%;
}
.summary li:nth-child(1) p:nth-child(2){
    width: 30%;
}
.summary li:nth-child(1) p:nth-child(3){
    width: 20%;
}
.summary li:nth-child(2) p{
    width: calc(100% / 3);
}
.summary li:nth-child(3) p:nth-child(1){
    width: 10%;
}
.summary li:nth-child(3) p:nth-child(2){
    width: 45%;
    text-overflow: ellipsis;
    overflow: hidden;
    text-wrap: nowrap;
}
.summary li:nth-child(3) p:nth-child(3){
    width: 15%;
}
.summary li:nth-child(3) p:nth-child(4){
    width: 25%;
}

main .class{
    width: 90%;
    height: 100%;
    margin: auto;
    padding: 24px;
    box-sizing: border-box;
}
.class .lists, .class .newlists{
    width: 100%;
    margin: 28px 0;
    box-sizing: border-box;
}
.class h2{
    margin-bottom: 16px;
}
.class .lists{
    position: relative;
}
.lists .list{
    max-height: 480px;
    overflow-y: scroll;
    position: relative;
}
.list dd{
    cursor: pointer;
}
.list dd:hover{
    background-color: gainsboro;
}
.class dt, .class dd{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.list dt{
    font-weight: bold;
    border-bottom: 1px solid black;
    position: sticky;
    left: 0;
    top: 0;
    background-color: white;    
}
.list p{
    text-align: center;
    line-height: 40px;
}
.list p:nth-child(1){
    width: 10%;
}
.list p:nth-child(2){
    width: 30%;
}
.list p:nth-child(3){
    width: 10%;
}
.list p:nth-child(4){
    width: 10%;
}
.list p:nth-child(5){
    width: 10%;
}
.list p:nth-child(6){
    width: 10%;
}
.list p:nth-child(7){
    width: 10%;
}

.newlist dt{
    font-weight: bold;
    border-bottom: 1px solid black;
}
.newlist p{
    width: calc(100% / 7);
    text-align: center;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.newlist input{
    width: 80%;
    height: 30px;
    box-sizing: border-box;
    padding: 0 4px;
}
.newlist select{
    padding: 0 4px;
    width: 80%;
    height: 30px;
    box-sizing: border-box;
}
.newlist button{
    width: 80%;
    height: 30px;
    border: 0;
    outline: 0;
    background-color: black;
    color: white;
    cursor: pointer;
}
.newlist button:active{
    background-color: rgb(90, 90, 90);
}
.lists .search{
    position: absolute;
    right: 0;
    top: 0;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.search select{
    box-sizing: border-box;
    height: 30px;
    padding: 0 4px;
}
.search input{
    margin: 0 8px;
    box-sizing: border-box;
    height: 30px;
    padding-left: 4px;
    width: 120px;
}
.search svg{
    width: 20px;
    border: 2px solid black;
    padding: 4px;
    border-radius: 50%;
    cursor: pointer;
}
.search svg:active{
    background-color: gainsboro;
}